* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/macos.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#doc {
  position: fixed;
  background-color: #8c8c8fa4;
  opacity: 0.6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  left: 20%;
  bottom: 20px;
  height: 5vh;
  border-radius: 10px;
}
.doc-icon {
  width: 50px;
  transition: transform 0.5s;
}
.doc-icon:hover {
  transform: scale(1.2) translate(-8px);
}
